.header {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    background-color: lightpink;
}

.paragraph {
    border: solid 5px rgb(241, 186, 186);
    border-radius: 15px;
    text-align: center;
    width: 45%;
    margin: auto; 
    margin-top: 50px;
    background-color: white; 

}

.definition {
    border: solid 5px rgb(241, 186, 186);
    border-radius: 15px;
    text-align: center;
    width: 45%;
    margin: auto;
    margin-top: 100px;
    display: none;
    background-color: white; 
}

.button {
    text-align: center;
    margin-top: 100px;
}

button {
    color: white;
    background-color: rgb(238, 134, 186);
    padding: 20px;
    border-radius: 15px;
}

button:hover{
    transform: scale(1.1);
}

body {

    background-image: url('https://img.freepik.com/premium-photo/white-paper-texture-background_87555-22828.jpg'); /* Add the path to your background image */
    background-size: cover; /* Adjust based on your preference */
    background-repeat: no-repeat;
    background-color: #f0f0f0; /* Fallback color in case the image is not loaded */
}